<!DOCTYPE html>
<html>
  <head>
    <title>Interactive Gadget Lab</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <!-- Links -->
    <link href="/css/main.css" rel='stylesheet' type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,600italic,700, 300italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
	</head>
	<body>
		<header>
			<div class="home-container"><a class="home-button" href="#"><h1>INTERACTIVE GADGET LAB</h1></a></div>
		</header>
		<main id="app">
		</main>
		<script type="text/javascript" src="bundle.js"></script>
	</body>
</html>

