body
{
    background-color: #252525;
    margin: 0;
    font-family: "Conduit ITC Light",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-decoration: none;
    color: #c6c8ca;
    font-size: 1em;
}

h1 
{
    font-size: 3em;
    margin: 0;
}

h2 {font-size: 1.5em;}

h3{
    color: #FFF9AE;
    margin-top: 0.3em;
}

h4 {margin-bottom: 2%;}

header 
{
    background-color: #1a1a1a;
    width: 100%;
    display: inline-block;
    top: 0;
    left: 0;
    padding: .5% 2%;
}

.home-button
{
    text-decoration: none;
    color: #36BDB2;
    font-weight: 100;
    float: left;
}

main 
{
    width: 100%;
    padding: 3% 2%;
}

.btn
{
    display: block;
    padding: 6% 0;
    color: #ebebeb;
    width: 96%;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background: #FD5158;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}

.space
{
    margin-bottom: 2em;
}

.gadget 
{

    background-color: #1a1a1a;
    padding: 0.4em 0.4em;
    margin-bottom: 2%;
    width: 96%;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;  
}

.gadget h4 {margin-bottom:0;}

.gadget .btn {
        width: 100%;
    }

.btn h2, .btn h4 {
    margin: auto
}


@media screen and (min-width: 600px){
    .btn {
        background: transparent;
        border: 1px solid #c6c8ca;
        cursor: pointer;
        padding: 1.5em 0;
        -webkit-transition: background 0.2s ease-out, border 0.2s ease-out;
        transition: background 0.2s ease-out, border 0.2s ease-out;
    }

    .gadget .btn {
        position: absolute;
        left: 10px;
        bottom: 10px;
        width: 93%;
    }

    .btn:hover, .btn:focus
    {
        background: #FD5158;
        border-color: #FD5158;
    }

    .gadget {
        position: relative;
        float: left;
        width: 47%;
        height: 220px;
        margin-right: 2%;
        padding: 10px;
    }
    
    @media screen and (max-width: 1000px){
    .gadget :nth-child(2){
        margin-right: 0;
    }
}


}

@media screen and (min-width: 1000px){
    .btn {
        padding: 1.5em 0;
    }

    .btn {width: 31%;}

    .gadget .btn {
        width: 95%;
    }

    .gadget {
        width: 31%;
        height: 195px;
        margin-right: 1%;
        margin-bottom: 1%;
        padding: 10px;
    }

    .gadget :nth-child(3){
        margin-right: 0;
    }

    main 
    {
        width: 100%;
        margin: auto;
        max-width: 1300px;
    }

    .home-container {
        max-width: 1300px;
        margin: auto;
    }
}

@media screen and (min-width: 1300px){

    header{
        padding: 0;
    }

}

@font-face 
{
  font-family: "Conduit ITC Light";
  src: url("conduititc-light-webfont.woff");
}
