body
{
	background-color: #252525;
    width: 90%;
    max-width: 1200px;
    margin: auto;
    margin-top: 120px;
    font-family: "Conduit ITC Light",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    padding-bottom: 80px;
    text-decoration: none;
    line-height: 1.375em;
    color: #c6c8ca;
    font-size: 14px;
}

header 
{
	background-color: #1a1a1a;
    width: 100%;
    padding: 10px 0; 
    position: fixed;
    top: 0;
    left: 0;
}

.header-container
{
    width: 90%;
    max-width: 1200px;
    margin: 30px auto;
    position: relative;
}

.home-button
{
    cursor: pointer;
    text-decoration: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.home-button img
{
    height: 3em;
    float: left;
    display: none;
}

.home-button p, :visited
{
    font-size: 27px;
    color: #36BDB2;
    font-weight: 100;
    float: left;
    margin: 0 0 25px 0;
}

.nav
{   
    text-align: center;
    text-decoration: underline;   
}

.gadget 
{
    background-color: #1a1a1a;
    padding: 5px 15px;
    margin-bottom: 10px;
    width: 250px;
    float: left;
    height: 160px;
    margin-right: 10px;
    position: relative;
}

h4:last-child, button:last-child
{
    position: absolute;
    bottom: 0;
}

.btn
{
    display: inline-block;
    padding: 9px 30px 8px 30px;
    line-height: 1em;
    color: #ebebeb;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    background: transparent;
    border: 1px solid #c6c8ca;
    margin-bottom: 14px;
    -webkit-transition: background 0.2s ease-out, border 0.2s ease-out;
    transition: background 0.2s ease-out, border 0.2s ease-out;
}

.btn:hover, .btn:focus
{
    background: #FD5158;
    border-color: #FD5158;
}


section 
{
    color: #c6c8ca;
    font-size: 24px;
}

input
{
    width: 200px;
    height: 50px;
}

/* Responsive */
/*@media screen (min-width: 500px) {
    header {
        height: 90px;
    }
    .home-button img
    {
        display: inherit;
        height: 18px;
        float: left;
        margin-top: 7px;
        margin: 0 0 0 10px;
    }
    .home-button span
    {
        font-size: 1.5em;
        margin: 0 0 0 10px;
    }

}

@media screen (min-width: 900px) {
    header {
        height: 60px;
    }

}*/

@font-face 
{
  font-family: "Conduit ITC Light";
  src: url("conduititc-light-webfont.woff");
}
